/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  width:100%;
  margin: 0 auto;
}



.top-wrapper{
  background-image: url(images/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:800px;
}

.top-wrapper_contents{
  padding-top:  60px;
  padding-bottom: 20px;
}

.top{
  background-color: rgba(255,255,255,0.8);
  padding:30px 0;
  padding-left: 20px;
}


.top3 h1 img{
  width:350px;
}

.top4 h2{
  color:#666666;
  font-size: 40px;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top4 p{
  color:#666666;
  line-height: 20px;
}


.top-wrapper_phone2{
  background-color: #6b90db;
  margin-left: 5px;
  border-radius: 5px;
  padding:20px 20px 40px 10px;
  width:90%;
}

.top-wrapper_phone2 h3{
  font-size: 32px;
  color:white;
}

.time_contents{
  display: flex;
  margin:10px 0;
}

.time{
  color:white;
  font-weight: bold;
  margin-top: 18px;
  font-size: 20px;

}

.time_text{
  color:#6b90db;
  background-color: white;
  border-radius: 20px;
  padding:10px;
  font-weight: bold;
  margin-right: 10px;

}

.day{
  color:white;
}



.top-wrapper_reservation2{
  background-color: #DB8F81;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 5px;
  padding:20px 20px 40px 10px;
  width:90%;
}

.top-wrapper_reservation2 h3{
  font-size: 32px;
  color:white;
  padding-bottom: 10px;
}

.top-wrapper_reservation2 p{
  color:white;
  padding-bottom: 20px;
}

.top-wrapper_reservation2 a{
  color:black;
  background-color: white;
  border-radius: 5px;
  padding:10px;
}

.header_contents{
  text-align: right;
  position: relative;
  height:80px;
  background-color: #f8f9fa;
}



.header_contents_img{
  position: absolute;
  top:20px;
  text-align: left;
  margin-left: 20px;

}

.header_visual_contents img{
  width:40%;

}

.header_visual_contents nav ul li{
  display: none;
}

.header_visual_contents nav ul li a{
  color:#666666;
}

.header_visual_contents nav ul li a:hover{
  color:black;
}

.guide h1{
  text-align: center;
  font-size: 40px;
  color:#666666;
  padding-top: 80px;
  padding-bottom: 40px;
}

.guide_visual_contents{
  margin-bottom: 30px;
}

.guide_contents_img{
  text-align: center;
}
.guide_visual_contents img{
  width:90%;
}

.guide_visual_contents p{
  margin: 0 20px;
}

.title1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.guide_visual_contents p{
  color:#666666;
  line-height: 30px;
}

.btn{
  text-align: center;
  padding-top: 20px;
}
.guide_visual_contents a{
  color:black;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

.policy{
  margin-top: 80px;
  background-color:  #ecf7fb;
}
.policy h1{
  text-align: center;
  font-size: 40px;
  color:#666666;
  padding-top: 80px;
  padding-bottom: 40px;
}

.policy_contents{
  padding-bottom: 80px;
}

.policy_contents_img{
  text-align: center;
}

.policy_contents_img img{
  width:90%;
}

.policy_contents_details{
  margin: 0 20px;
}
.policy_contents_details h3{
  color:#666666;
  font-size: 28px;
  font-weight: normal;
  padding-top:20px ;
  letter-spacing: 5px;
}

.policy_contents_details h2{
  color:#666666;
  font-size: 56px;
  border-bottom: 5px solid #B2C2E1;
  margin-right:  20px;
}

.policy_contents_details2{
  display: flex;
}

.policy_contents_details p{
  margin-top: 20px;
  color:#666666;
  line-height: 25px;
  padding-bottom: 40px;
}

.facility{
  margin-bottom: 80px;
}

.facility h1{
  text-align: center;
  font-size: 40px;
  color:#666666;
  padding-top: 80px;
  padding-bottom: 40px;
}

.title_text{
  text-align: center;
  color: #666666;
  padding-bottom: 60px;
  line-height: 25px;
}

.facility_contents_img{
  text-align: center;
}
.facility_contents_img img{
  width:90%;
  border-radius: 50%;
}

.facility_contents_detailes{
  margin: 0 20px;
}

.facility_contents_detailes h2{
  color:#666666;
  font-size: 28px;
  font-weight: normal;
  border-bottom: 2px solid #B2C2E1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.facility_contents_detailes p{
  color: #666666;
  padding-top: 20px;
  line-height: 26px;
  padding-bottom: 20px;
}

.introduce{
  background-color:  #ecf7fb;
}

.introduce2{
  padding-bottom: 80px;
}
.introduce h1{
  text-align: center;
  font-size: 40px;
  color:#666666;
  padding-top: 80px;
  padding-bottom: 40px;
}

.introduce_text{
  text-align: center;
  color: #666666;
  padding-bottom: 60px;
  line-height: 25px;
}

.introduce_contents_img{
  text-align: center;
}

.introduce_contents_img img{
  width:90%;
}

.introduce_visual_contents p{
  font-size: 14px;
  color:#6c757d;
  border-left: 3px solid #6b90db;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
  margin-left: 25px;

}


.information h1{
  text-align: center;
  font-size: 40px;
  color:#666666;
  padding-top: 80px;
  padding-bottom: 40px;
}

.information_contents{
  margin-bottom: 80px;
}

.information_visual_contents nav ul li{
  font-size: 20px;
  color:#666666;
  border-bottom: 1px solid #666666;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
}

.information_visual_contents nav ul li span{
  padding-left: 30px;
}

.sample{
  background-color:  #ecf7fb;
}

.sample2{
  padding-bottom: 50px;
  margin-left: 20px;
}

.sample h1{
  font-size: 40px;
  color:#666666;
  padding-top: 80px;
  padding-bottom: 40px;
  font-weight: normal;
}

.sample_text{
  color: #666666;
  line-height: 20px;

}

table{
  margin-top: 20px;
}
table thead tr{
  border-bottom: 1px solid #666666;
}

table thead tr th{
  color:white;
  padding-right: 15px;
  padding-left: 10px;
}

.examination{
  background-color: #6b90db;
}

table tbody tr{
  border-bottom: 1px solid #666666;
}

table tbody tr th{
  color:#666666;
}

table tbody tr td{
  color:#666666;
  padding-left: 10px;
}

.sample_text2{

  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 40px;
}

.sample_text2 p{
  font-size: 13px;
  color:#666666;
}

.top-wrapper_phone3{
  width:90%;
}

.top-wrapper_phone4{
  background-color: #6b90db;
  border-radius: 5px;
  padding:20px 20px 40px 20px;
}

.top-wrapper_phone4 h3{
  font-size: 32px;
  color:white;
}

.time_contents2{
  display: flex;
  margin-bottom: 10px;
}

.time3{
  color:white;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.time2{
  color:#6b90db;
  padding:5px;
  background-color: white;
  border-radius: 30px;
  font-weight: bold;


}

.day2{
  color:white;
}

.top-wrapper_reservation3{
  width:90%;
}

.top-wrapper_reservation4{
  background-color: #DB8F81;
  margin-top: 20px;
  border-radius: 5px;
  padding:20px 20px 40px 20px;
}

.top-wrapper_reservation4 h3{
  font-size: 32px;
  color:white;
  padding-bottom: 10px;
}

.top-wrapper_reservation4 p{
  color:white;
  padding-bottom: 20px;
}

.top-wrapper_reservation4 a{
  color:black;
  background-color: white;
  border-radius: 5px;
  padding:10px;
}

.sample_visual_contents iframe{
  width:90%;
  padding-top: 20px;
}


.footer_contents{
  border-top: 2px solid #B2C2E1;
  text-align: center;
  background-color: #ecf7fb;
  height:100px;
}

.footer_contents p{
  line-height: 100px;
}

a{
  text-decoration: none;
}
@media(min-width:768px){
  .top-wrapper{
    height:590px;
  }
  .top2{
    display: flex;
    height:150px;
    padding: 0 40px;
  }
  .top3 h1{
    line-height: 200px;
    padding-right: 20px;
  }
  .top3 h1 img{
    width:180px;
  }

  .top-wrapper_container2{
    display: flex;
    gap:20px;
  }

  .top-wrapper_phone{
    width:90%;
    margin-left: 40px;
  }

  .top-wrapper_reservation{
    width:70%;
    margin-right: 40px;
  }

  .header_contents_img{
    margin-left: 40px;
  }

  .guide_contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin: 0 40px;
  }


  .policy_visual_contents{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin: 0 40px;
  }

  .policy_visual_contents2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap:20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 40px;
  }

  .policy_contents_img img{
    width:450px;
  }


  .facility_visual_contents{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin: 0 40px;
  }

  .facility_contents_img img{
    width:300px;
  }


  .facility_visual_contents2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap:20px;
    margin: 0 40px;
  }

  .introduce_contents{
    display: flex;
    margin: 0 40px;
  }

  .introduce_visual_contents img{
    width:80%;
  }

  .information{
    margin: 0 40px;
  }

  .sample2{
    margin: 0 50px;
  }


  .sample_contents{
    display: flex;
    justify-content: space-between;
    gap:20px;
  }

  table{
    margin-left: 10px;
  }

  table thead tr th{
    padding-right: 20px;
    padding-left: 10px;
  }

  .time2{
    font-size: 16px;
  }

  .sample_visual_contents iframe{
    width:400px;
  }

}

@media(min-width:1200px){
  .top-wrapper{
    height:590px;
  }
  .top2{
    height:100px;
  }

  .top3 h1{
    line-height: 160px;
  }
  .top3 h1 img{
    width:300px;
  }

  .top-wrapper_phone{
    padding-top: 130px;
    max-width: 1200px;
    margin-left: 100px;

  }

  .top-wrapper_reservation{
    padding-top: 130px;
    width:1000px;
  }

  .header_contents{
    height:100px;
  }

  .header_visual_contents img{
    width:300px;

  }

  .header_visual_contents {
    margin-left: 100px;

  }

  .header_visual_contents nav ul{
    margin-right: 120px;
  }

  .header_visual_contents nav ul li{
    display: inline-block;
    padding:40px 10px 0 10px;
  }

  .guide_contents{
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
  }

  .policy_contents{
    margin: 0 100px;
  }

  .policy_contents_img img{
    width:500px;
  }


  .facility{
    margin: 0 100px;
  }

  .facility_contents_img img{
    width:350px;
  }


  .introduce2{
    margin: 0 100px;
  }


  .information{
    margin: 0 140px;
  }

  .sample2{
    margin: 0 140px;
  }


  table thead tr th{
    padding-right: 33px;
    padding-left: 10px;
  }

  table tbody tr th{
    padding-right: 33px;
  }


  .sample_visual_contents iframe{
    width:500px;
  }
}
